
<html>
	<head>
		<title>
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet" href="../css/main.css"/>
		<script type="text/javascript" src="../js/toggle.js"></script>
	</head>
	<body class="bg--lighter-gray">
		<div class="top-bar pos--fixed d--flex bg--white shadow-gray flex-justify--space-between flex-align--center pt8 pb8" style="width: 100%; min-width: 540px;">
			<div class="d--inline-block">
				<div class="d--inline-block text--vmiddle pl24 pr24">
					<div class="bg--gray mb4 mt4" style="height: 2px; width: 20px;"></div>
					<div class="bg--gray mb4 mt4" style="height: 2px; width: 20px;"></div>
					<div class="bg--gray mb4 mt4" style="height: 2px; width: 20px;"></div>
				</div><img class="logo text--vmiddle" src="../img/logo.png" style="width: 60px;"/>
			</div>
			<div class="search-bar d--inline-block" style="width:33%">
				<input class="search__input pt4 pb4 pl4 pr4" type="input" placeholder="關鍵字" style="width: 75%; border: 1px #d2d2d2 solid; border-radius: 2px;"/>
				<button class="search pt4 pb4 pl4 pr4" style="border: 1px #d2d2d2 solid; border-radius: 2px;">搜尋</button>
			</div>
			<div class="d--inline-block pl16 pr16">
				<div class="menu_icon" onclick="toggle_visibility('menu');">
					<div class="menu_icon__dot bg--gray mt2 mb2 ml2 mr2" style="height: 4px; width: 4px;"></div>
					<div class="menu_icon__dot bg--gray mt2 mb2 ml2 mr2" style="height: 4px; width: 4px;"></div>
					<div class="menu_icon__dot bg--gray mt2 mb2 ml2 mr2" style="height: 4px; width: 4px;"></div>
					<div class="menu_icon__dot bg--gray mt2 mb2 ml2 mr2" style="height: 4px; width: 4px;"></div>
					<div class="menu_icon__dot bg--gray mt2 mb2 ml2 mr2" style="height: 4px; width: 4px;"></div>
					<div class="menu_icon__dot bg--gray mt2 mb2 ml2 mr2" style="height: 4px; width: 4px;"></div>
					<div class="menu_icon__dot bg--gray mt2 mb2 ml2 mr2" style="height: 4px; width: 4px;"></div>
					<div class="menu_icon__dot bg--gray mt2 mb2 ml2 mr2" style="height: 4px; width: 4px;"></div>
					<div class="menu_icon__dot bg--gray mt2 mb2 ml2 mr2" style="height: 4px; width: 4px;"></div>
				</div>
				<!-- <ul class="menu" id="menu">
					<li class="menu__item">Youtube TV
						<ul class="menu--sub">
							<li class="menu__item">123 text</li>
							<li class="menu__item">321 text</li>
						</ul>
					</li>
					<li class="menu__item">Youtube Program</li>
				</ul> -->


				<button class="login text--vmiddle bg--red text--small pl16 pr16 pt8 pb8" style="color: white;">登入</button>
			</div>
		</div>
		<div class="container" style="position: relative; top: 52px;">
			<section class="row hot-videos pt20 pb20">
				<div class="section-title pb20">發燒影片</div>
				<div class="video col-sm-6 col-md-3 col-lg-3 col-xl-2"><img src="../img/video01.jpg"/>
					<div class="video-text mr24">
						<div class="video-title text--small text mt8">全台必看五個優質台灣英文頻道 #1</div>
						<div class="video-info text--gray text--smaller mt8">
							<p class="video-comp">安雅英文1</p>
							<div class="col-sm-6">lalala</div>
							<p class="video-date">觀看次數：<span>51萬</span>．<span>21小時</span>前</p>
						</div>
					</div>
				</div>
				<div class="video col-sm-6 col-md-3 col-lg-3 col-xl-2"><img src="../img/video01.jpg"/>
					<div class="video-text mr24">
						<div class="video-title text--small text mt8">全台必看五個優質台灣英文頻道 #2</div>
						<div class="video-info text--gray text--smaller mt8">
							<p class="video-comp">安雅英文2</p>
							<div class="col-sm-6">lalala</div>
							<p class="video-date">觀看次數：<span>52萬</span>．<span>22小時</span>前</p>
						</div>
					</div>
				</div>
				<div class="video col-sm-6 col-md-3 col-lg-3 col-xl-2"><img src="../img/video01.jpg"/>
					<div class="video-text mr24">
						<div class="video-title text--small text mt8">全台必看五個優質台灣英文頻道 #3</div>
						<div class="video-info text--gray text--smaller mt8">
							<p class="video-comp">安雅英文3</p>
							<div class="col-sm-6">lalala</div>
							<p class="video-date">觀看次數：<span>53萬</span>．<span>23小時</span>前</p>
						</div>
					</div>
				</div>
				<div class="video col-sm-6 col-md-3 col-lg-3 col-xl-2"><img src="../img/video01.jpg"/>
					<div class="video-text mr24">
						<div class="video-title text--small text mt8">全台必看五個優質台灣英文頻道 #4</div>
						<div class="video-info text--gray text--smaller mt8">
							<p class="video-comp">安雅英文4</p>
							<div class="col-sm-6">lalala</div>
							<p class="video-date">觀看次數：<span>54萬</span>．<span>24小時</span>前</p>
						</div>
					</div>
				</div>
				<div class="video col-sm-6 col-md-3 col-lg-3 col-xl-2"><img src="../img/video01.jpg"/>
					<div class="video-text mr24">
						<div class="video-title text--small text mt8">全台必看五個優質台灣英文頻道 #5</div>
						<div class="video-info text--gray text--smaller mt8">
							<p class="video-comp">安雅英文5</p>
							<div class="col-sm-6">lalala</div>
							<p class="video-date">觀看次數：<span>55萬</span>．<span>25小時</span>前</p>
						</div>
					</div>
				</div>
				<div class="video col-sm-6 col-md-3 col-lg-3 col-xl-2"><img src="../img/video01.jpg"/>
					<div class="video-text mr24">
						<div class="video-title text--small text mt8">全台必看五個優質台灣英文頻道 #6</div>
						<div class="video-info text--gray text--smaller mt8">
							<p class="video-comp">安雅英文6</p>
							<div class="col-sm-6">lalala</div>
							<p class="video-date">觀看次數：<span>56萬</span>．<span>26小時</span>前</p>
						</div>
					</div>
				</div>
			</section>
			<div class="row">
				<hr class="col-sm-12 col-md-12 col-lg-12 col-xl-12"/>
			</div>
			<section class="row recommand-channels pt20 pb20">
				<div class="section-title d--flex pb20" style="justify-content:space-between; align-items: center;">
					<div class="section-title--left"><img class="text--vmiddle" src="../img/title_icon01.png" width="32px"/><span class="text--vmiddle pl8">台灣啟示錄</span><span class="text--vmiddle pl8 text--gray text--smaller">推薦頻道</span></div>
					<div class="section-title--right">
						<button class="sub-btn bg--red text--small pl16 pr16 pt8 pb8" style="color: white;">
							 訂閱（<span>23萬</span>)</button>
					</div>
				</div>
				<div class="video col-sm-6 col-md-4 col-lg-4 col-xl-3">
					<video controls="controls" width="100%">
						<source src="../video/video01.mp4" type="video/mp4"/>
					</video>
				</div>
				<div class="video-text col-sm-6 col-md-8 col-lg-8 col-xl-9">
					<div class="pl16">
						<div class="video-title text--big text">全台必看五個優質台灣英文頻道 #1</div>
						<div class="video-info text--gray text--smaller mt8"><span class="video-comp pr12">安雅英文</span><span class="video-date">觀看次數：<span>50萬</span>．<span>22小時</span>前</span></div>
						<div class="video-detail text--gray text--smaller mt12">踢個個天天天家吃資下好看你好了看好看看看？天看屋痾斯人下好了了你好下雌雌雌去看看你了天。踢個個天天天家吃資下好看你好了看好看看看？天了天。</div>
					</div>
				</div>
			</section>
			<div class="row">
				<hr class="col-sm-12 col-md-12 col-lg-12 col-xl-12"/>
			</div>
			<section class="row recommand-videos pt20 pb20">
				<div class="section-title d--flex pb20" style="justify-content:space-between; align-items: center;">
					<div class="section-title--left"><img class="text--vmiddle" src="../img/title_icon01.png" width="32px"/><span class="text--vmiddle pl8">音樂真好聽</span><span class="text--vmiddle pl8 text--gray text--smaller">推薦影片</span></div>
					<div class="section-title--right">
						<button class="sub-btn bg--red text--small pl16 pr16 pt8 pb8" style="color: white;">
							 訂閱（<span>12323萬</span>)</button>
					</div>
				</div>
				<div class="video col-sm-6 col-md-4 col-lg-4 col-xl-3">
					<video controls="controls" width="100%">
						<source src="../video/video01.mp4" type="video/mp4"/>
					</video>
				</div>
				<div class="video-text col-sm-6 col-md-8 col-lg-8 col-xl-9">
					<div class="pl16">
						<div class="video-title text--big text">全台必看五個優質台灣英文頻道 #1</div>
						<div class="video-info text--gray text--smaller mt8"><span class="video-comp pr12">安雅英文</span><span class="video-date">觀看次數：<span>50萬</span>．<span>22小時</span>前</span></div>
						<div class="video-detail text--gray text--smaller mt12">踢個個天天天家吃資下好看你好了看好看看看？天看屋痾斯人下好了了你好下雌雌雌去看看你了天。踢個個天天天家吃資下好看你好了看好看看看？天了天。</div>
					</div>
				</div>
			</section>
		</div>
	</body>
</html>