//grid
//small
$sm_width: 576px;
$sm_max_width: 540px;
//medium
$md_width: 768px;
$md_max_width: 720px;
//large
$lg_width: 992px;
$lg_max_width: 960px;
//extra large
$xl_width: 1200px;
$xl_max_width: 1140px;
//columns
$grid_columns: 12;
$grid_width: 30px;



//color
$lighter_gray: #f6f6f6;
$light_gray: #d3d3d3;